@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Cutive+Mono&display=swap');

body {
  color: #FBFFED;
}

.section-title {
  font-family: 'Bungee Inline', cursive;
  text-shadow: 1px 1px 10px rgb(128, 128, 255, 0.8), 1px 1px 10px rgb(128, 128, 255, 0.8);
}

.page-container {
  width: 100vw;
  /* overflow: hidden;  */
  /* height: 100vh; */
  height: max-content;
  
}

.parallax-layer {
  background-size: cover;
}

.content-container {
  text-align: center;
  padding: 100px 0;
  height: 200vh;
}

ul {
  list-style-type: none; 
}

li::before {
  content: '✨';
  margin-right: 10px;
  font-size: 1rem;
}
